div.mainDiv {
	margin: 0px auto; padding: 3px; border: 1px solid rgb(0, 0, 0); width: 312px; text-align: left; background-color: rgb(224, 224, 224);
}
div.probText {
	padding: 10px; width: 300px; height: 100%; float: left;
}
div.probResult {
	padding: 10px; width: 100px; height: 100%; float: left;
}
div.mainDiv2 {
	margin: 0px auto; padding: 10px; width: auto !important; text-align: justify; min-width: 800px; max-width: 800px; background-color: rgb(255, 255, 255);
}
h6.dice_selector_title {
	margin: 0px; padding: 1px 0px 0px; width: 92px; height: 18px; text-align: center; font-size: 12px; font-weight: bold; float: left; display: block;
	border-radius: 3px;
}
h1.dice_selector {
	margin: 0px 0px 0px 4px; padding: 1px 0px 0px; width: 19px; height: 18px; text-align: center; font-size: 12px; font-weight: bold; float: left; display: block; cursor: pointer;
	border-radius: 3px;
}
.dsel_challenge {
	border: 2px solid rgb(118, 67, 154); color: rgb(255, 255, 255); background-color: rgb(118, 67, 154);
}
h1.dsel_challenge:hover {
	background-color: rgb(152, 118, 188);
}
.nohover h1.dsel_challenge:hover {
	background-color: rgb(118, 67, 154);
}
.dsel_challenge2 {
	border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255); background-color: rgb(152, 118, 188);
}
.dsel_characteristic {
	border: 2px solid rgb(68, 112, 183); color: rgb(255, 255, 255); background-color: rgb(68, 112, 183);
}
h1.dsel_characteristic:hover {
	background-color: rgb(102, 146, 217);
}
.nohover h1.dsel_characteristic:hover {
	background-color: rgb(68, 112, 183);
}
.dsel_characteristic2 {
	border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255); background-color: rgb(102, 146, 217);
}
.dsel_conservative {
	border: 2px solid rgb(12, 134, 66); color: rgb(255, 255, 255); background-color: rgb(12, 134, 66);
}
h1.dsel_conservative:hover {
	background-color: rgb(46, 168, 100);
}
.nohover h1.dsel_conservative:hover {
	background-color: rgb(12, 134, 66);
}
.dsel_conservative2 {
	border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255); background-color: rgb(46, 168, 100);
}
.dsel_reckless {
	border: 2px solid rgb(148, 26, 29); color: rgb(255, 255, 255); background-color: rgb(148, 26, 29);
}
h1.dsel_reckless:hover {
	background-color: rgb(182, 60, 63);
}
.nohover h1.dsel_reckless:hover {
	background-color: rgb(148, 26, 29);
}
.dsel_reckless2 {
	border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255); background-color: rgb(182, 60, 63);
}
.dsel_expertise {
	border: 2px solid rgb(210, 202, 36); color: rgb(0, 0, 0); background-color: rgb(244, 236, 70);
}
h1.dsel_expertise:hover {
	background-color: rgb(246, 255, 104);
}
.nohover h1.dsel_expertise:hover {
	background-color: rgb(244, 236, 70);
}
.dsel_expertise2 {
	border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255); background-color: rgb(178, 170, 4);
}
.dsel_fortune {
	border: 2px solid rgb(153, 153, 153); color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
h1.dsel_fortune:hover {
	background-color: rgb(221, 221, 221);
}
.nohover h1.dsel_fortune:hover {
	background-color: rgb(255, 255, 255);
}
.dsel_fortune2 {
	border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255); background-color: rgb(153, 153, 153);
}
.dsel_misfortune {
	border: 2px solid rgb(0, 0, 0); color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
h1.dsel_misfortune:hover {
	background-color: rgb(68, 68, 68);
}
.nohover h1.dsel_misfortune:hover {
	background-color: rgb(0, 0, 0);
}
.dsel_misfortune2 {
	border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255); background-color: rgb(68, 68, 68);
}
div.listcol {
	margin: 0px; padding: 0px 0px 0px 10px; border: 0px currentColor; text-align: right; line-height: 28px; font-weight: bold; float: left;
}
div.resultcol {
	margin: 0px; padding: 0px 0px 0px 10px; border: 0px currentColor; width: 220px; float: left;
}
div.buttoncol {
	margin: 0px; padding: 10px; border: 0px currentColor; float: none;
	clear: both;
}
div.resulttext {
	text-align: left; line-height: 28px; font-weight: bold;
}
.button {
	margin: 0px 0px 4px; padding: 5px 3px; width: 128px; text-align: center; font-weight: bold; float: left; display: block; cursor: pointer;
	border-radius: 12px;
}
.button_pressed {
	
}
.button_clear {
	border: 2px solid rgb(128,128,128); color: rgb(0, 0, 0); background-color: rgb(238, 238, 238);
}
.button_clear:hover {
	background-color: rgb(255, 255, 255);
}
.nohover .button_clear:hover {
	background-color: rgb(238, 238, 238);
}
.button_pressed .button_clear {
	background-color: rgb(204, 204, 204);
}
.button_roll {
	border: 2px solid rgb(210, 202, 36); color: rgb(0, 0, 0); background-color: rgb(238, 238, 64);
	float: right;
}
.button_roll:hover {
	background-color: rgb(255, 255, 64);
}
.nohover .button_roll:hover {
	background-color: rgb(238, 238, 64);
}
.button_pressed .button_roll {
	background-color: rgb(204, 204, 64);
}
#dice_pool {
	padding: 3px; height: auto !important; min-height: 117px;
}
div.dicepool {
	margin: 4px 0px 4px 4px; padding: 0px; width: 28px; height: 28px; float: left; display: block;
	border-radius: 3px;
}
img.largeface {
	margin: 4px 0px 0px 4px; width: 20px; height: 20px; float: left;
}
img.smallface {
	margin: 0px 0px 0px 7px; width: 14px; height: 14px; float: left;
}
div.diceresult {
	margin: 2px 0px 2px 2px; padding: 0px; border: 0px currentColor; width: 24px; height: 24px; float: left; display: block;
	border-radius: 3px;
}
img.resultface {
	margin: 2px 0px 0px 2px; width: 20px; height: 20px; float: left;
}
#hitprobs {
	text-align: center; font-size: 12px; font-weight: bold; white-space: pre;
}
