* {
	padding: 0px; border: 0px currentColor; line-height: 150%; font-family: arial, verdana;
}
html {
	
}
body {
	margin: 0px; width: 320px; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);
}
embed {
	margin: 0px; padding: 0px; border: 0px currentColor; width: 0px; height: 0px;
}
img {
	margin: 0px;
}
div {
	margin: 0px;
}
span {
	margin: 0px;
}
hr {
	border-top-color: rgb(0, 0, 0); border-top-width: 1px; border-top-style: solid;
}
body.mainBody {
	
}
*.clear0 {
	height: 0px; clear: both; font-size: 0px; display: block;
}
*.clear5 {
	height: 5px; clear: both; font-size: 2px; display: block;
}
*.clear10 {
	height: 10px; clear: both; font-size: 5px; display: block;
}
h1 {
	text-align: left; font-size: 14px; text-decoration: none;
}
